.dashboard-container {
  background-color: rgba(187, 185, 254, 0.783);
  padding-top: 20px;
}

.dashboard {
  display: flex;
  /* min-height: 100% !important; */
  height: 100vh;
}

.dashboard-content {
  flex-grow: 1;
  background-color: rgba(190, 185, 254, 0.783);
  padding: 20px;
}